.summonerInfoBox {
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.summonerInfo {
  /* padding-right: 35rem; */
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
  background-color: #9abcff;
  padding: 1rem;
  border-radius: 5%;
  flex-direction: column;
}
.summonerInfo .summonerNameContainer {
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.summonerName {
  margin-left: 5px;
}

.matchHistory {
  margin-right: 39rem;
}

.pageButton {
  flex-direction: row;
  display: flex;
  /* margin-left: 5px; */
}

.statsBox {
  display: flex;
  /* background-color: #c5d1ec; */
  flex-direction: row;
}

.matchesLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
