.unitContainer {
  display: flex;
  flex-direction: row;
}
.unit {
  flex-direction: row;
}
.unitBox {
  display: flex;
  flex-direction: column;
}
.unitPortrait {
  width: 40px;
  height: 40px;
}

.itemBox {
  display: flex;
  flex-direction: row;
}
.itemPortrait {
  width: 15px;
  height: 15px;
}
