.summonerBox {
  border: 5px solid red;
  padding-left: 2%;
}

.augmentContainer {
  border: 1px solid black;
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
}

.augment {
  padding-right: 0.5rem;
}

.unitContainer {
  border: 1px solid blue;
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
}

.unit {
  padding-right: 0rem;
  border: 1px solid red;
  min-width: 75px;
}

.userList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.traitContainer {
  background-color: black;
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  border-radius: 5px;
}

.trait {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.trait_unitCount {
  padding: 0px;
  margin: 0px;
}
.traitPortrait {
  display: flex;

  padding: 0px;
  margin: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.unitBox {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  
  align-items: center;
}

.unitPortrait {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.unitName {
  margin: 0;
}

.itemBox {
  display: flex;
  flex-direction: row;
}
.itemPortrait {
  padding: 0px;
  margin: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* .unitPortrait{
  font-size: px;
} */


.cost_2{
border:5px green solid;
}